* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: red;
    border-bottom: 1px solid red;
}

.navbar {
    height: 30px;
    background-color: rgb(241, 241, 241);
}

.navbar>.nav {
    float: right;
}

.navbar>.nav>span {
    margin-left: 15px;
    padding-right: 50px;
    color: rgb(102, 102, 102);
    border-radius: 5px;
    font-size: 20px;
}

.default_chose {
    color: red;
    border-bottom: 1px solid red;
}

img {
    width: 1510px;
}

.about {
    height: 300px;
    background-color: rgb(241, 241, 241);
}

.about>.about_title {
    padding-top: 75px;
    text-align: center;
    color: red;
    font-weight: 700;
}

.about>.team {
    padding-top: 10px;
    text-align: center;
}

.about>.team>span {
    margin-left: 10px;
    margin-right: 30px;
}

.copyright {
    text-align: center;
    padding-top: 100px;
    line-height: 20px;
    color: rgb(102, 102, 102);

}