* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}



li {
    list-style-type: none;
}

.navbar {
    height: 30px;
    background-color: rgb(241, 241, 241);
}

.navbar>.nav {
    float: right;
}

.navbar>.nav>span {
    margin-left: 15px;
    padding-right: 50px;
    color: rgb(102, 102, 102);
    border-radius: 5px;
    font-size: 20px;
}

.default_chose {
    color: red;
    border-bottom: 1px solid red;
}

.logcontext {
    width: 1515px;
    height: 700px;
    background-image: url(../static/login_container_bg_07.jpg);
}

.logarea {

    box-shadow: 2px 2px 5px rgb(112, 87, 87);
    border-radius: 15px;
    background-color: white;
    float: right;
    margin-top: 100px;
    margin-right: 70px;
    height: 380px;
    width: 380px;
}

.log-form {
    height: 300px;
    width: 400px;
    margin: 50px -20px 0 auto;
}


.log-form ul li {
    margin-bottom: 20px;
    margin-top: 80px;
    /* margin-left: 0px; */
}

.log-form ul li label {
    display: inline-block;
    width: 88px;
    text-align: right;
    text-shadow: 2px 2px 5px red;
}

.log-form ul li .inp {
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
}

.btn {
    margin: 0px 0px 0px 100px;
    width: 200px;
    height: 34px;
    font-size: 14px;
    color: white;
    background-color: #c81623;
}